/* resetando e configurando principais configuracoes do css */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary: #0abde3;
  --black: #111;
  --grayDark: #222;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #444444; 
  --white: #e2e2e2;
  --frontEnd: #6BD1FF;
  --backEnd: #222725;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

#root{
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}